/* CSS by ///ADD/// YOUR NAME */
/* CSS by Carley Gohring */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ADD CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset by Eric Meyer */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ADD Skip Link Styles */
.skip-link {
  background: var(--news-flash); 
  color: var(--watchdog-white);
  font-weight: 700;
  left: 50%;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  position: absolute;
  transform: translateY(-500%);
  transition: transform 0.5s;
  font-family: var(--font-body);
}

.skip-link:focus {
  transform: translateY(10%);
}

.skip-link:hover {
  background: var(--blue-bulletin);
  outline: 2px solid var(--news-flash);
  border-radius: 4px;
}

/* ADD Navigation Styles */
.mobile-nav {
  position: relative
}

.menu-button {
  display: block;
  padding: 1rem;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: default;
  box-sizing: border-box;
}

.mobile-nav .menu {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  display: none;
  background-color: var(--blue-bulletin);
  list-style: none;
  padding: 0;  
}

#menu-toggle:checked+ .menu-button + .menu {
  display: block;
}

nav li {
  text-align: center;
  background-color: var(--news-flash);
  padding: 1rem;
  margin-bottom: 0.15rem;
  border: 2px solid var(--blue-bulletin);
}

nav li:hover, .menu-button:hover {
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}

nav li a {
  color: var(--watchdog-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.mobile-nav .menu li:last-child {
  margin-bottom: 0;
}

/* ADD Global Layout Styles */
body {
  margin: 0 auto;
}

header {
  background-color: var(--blue-bulletin);
  padding: 1.75rem 2rem 1.25em 2rem;
}

h1 {
  margin: 0em 0em .375em 0em;
}

main {
  padding: 0px 30px 10px 30px;
}

p.tagline {
  margin: 0 0 1.25rem 0;
}

main h2:nth-of-type(1), main h2:nth-of-type(2){
  margin: 3rem 0 .75rem 0;
}

blockquote.tagline {
  margin: 1.5rem auto;
  text-align: center;
}

main section.red-container {
  background-color: var(--news-flash);
  padding: 1.25rem;
  margin: 0 .5rem .75rem .5rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
  transform: scale(1);
  border: 1px solid var(--blue-bulletin);
}

main section.red-container:hover {
  transform: scale(1.03);
}

main section.red-container video {
  width: 100%;
  display: block;
  height: auto;
}

.red-container hr {
  border: none;
  border-top: 1.5px solid var(--watchdog-white);
  margin: 0.25rem auto 0.5rem auto;
}

main h2:nth-of-type(3), main h2:nth-of-type(4) {
  margin: 2rem 0 .75rem 0;
}

.article-container {
  background-color: var(--watchdog-white);
  padding: 1.25rem;
  margin: 0 .5rem .75rem .5rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
  transform: scale(1);
  border: 1px solid var(--blue-bulletin);
}

.article-container:hover {
  transform: scale(1.03);
}

.article-container hr {
  border: none;
  border-top: 1.5px solid var(--blue-bulletin);
  margin: 0.25rem auto 0.5rem auto;
}

main h2:nth-of-type(4) + p {
  margin-bottom: 1rem; 
}

form {
  background-color: var(--news-flash);
  max-width: 600px;
  padding: 1.25rem;
  margin: 1rem auto;
  box-shadow: var(--shadow);
  border: 1px solid var(--blue-bulletin);
  color: var(--watchdog-white);
  font-weight: 380;
  font-style: normal;
}

label, input[type="text"], input[type="tel"] {
  display: block;
  width: 100%;
}

label {
  margin-bottom: .25rem;
}

input[type="text"], input[type="tel"] {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: .5rem;
  border-radius: 0.125rem;
  border: 1px solid var(--blue-bulletin);
}

fieldset {
  border: 1px solid var(--blue-bulletin);
  padding: .25rem;
  margin-bottom: 1rem;
}

legend {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: .5rem;
}

fieldset div {
  display: flex;
  align-items: center;
  gap: .25rem;
  margin-bottom: .5rem;
}

fieldset input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  position: relative;
  top: -2px;
  accent-color: var(--blue-bulletin);
}

fieldset label {
  display: inline;
  margin: 0;
  width: auto;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: .75rem;
  text-transform: uppercase;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  box-shadow: var(--shadow);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: .75rem;
}

input[type="submit"]:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}

footer {
  background-color: var(--blue-bulletin);
  padding: 1.75rem 2rem 1.25em 2rem;
}

footer h2 {
  color: var(--watchdog-white);
  margin: 1.25rem 0 .75rem 0;

}

footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin-bottom: 2.5rem;
}

footer ul li {
  background-color: var(--news-flash);
  padding: .75rem;
  border: 1px solid var(--news-flash);
}

footer ul li:hover {
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
  cursor: pointer;
}

footer ul li a {
  text-decoration: none;
  color: var(--watchdog-white);
  text-transform: uppercase;
}

footer small {
  display: block;
  color: var(--watchdog-white);
  text-align: center;
}

/* ADD Global Text Styles */
html {
  font-size: 16px;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--truth-text);
  background-color: var(--watchdog-white);
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 3rem;
  color: var(--watchdog-white);
  font-weight: 331;
  font-style: normal;
  font-variation-settings:
    "wdth" 109.4;
}

h2 {
  font-size: 2rem;
  color: var(--truth-text);
  font-weight: 331;
  font-style: normal;
  font-variation-settings:
    "wdth" 105;
}

body.dark-mode h2, body.dark-mode h3  {
  color: var(--watchdog-white);
}

h3 {
  font-size: 1.5rem;
  color: var(--truth-text);
  font-weight: 331;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.tagline {
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 90;
}

p.tagline {
  color: var(--watchdog-white);
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 90;
}

p {
  line-height: 1.5rem;
  font-weight: 425;
  font-style: normal;
}

body.dark-mode p {
  color: var(--watchdog-white);
}

body.dark-mode .article-container {
  border: 2px solid var(--story-subtitle);
  background-color: var(--truth-text);
}

body.dark-mode .article-container hr {
  border: none;
  border-top: 1.5px solid var(--story-subtitle);
  margin: 0.25rem auto 0.5rem auto;
}

.red-container h3 {
  color: var(--watchdog-white);
  line-height: 2rem;
}

.red-container p {
  color: var(--watchdog-white);
}

.article-container h3 {
  color: var(--truth-text);
  line-height: 2rem;
}

.required {
  color: var(--blue-bulletin);
}

/* ADD medium styles 620px */
@media screen and (min-width:620px) {
  header, main, footer {
  width: 100%;
  box-sizing: border-box;
  }

  .inner-content-wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 920px;
    padding: 0 1rem;
    text-align: left;
  }

  .menu-button {
    display: none;
  }

  .mobile-nav input[type="checkbox"] ~ .menu {
    display: flex;
    flex-direction: row;
    position: static; 
    gap: 1rem;
    padding: 0;
    background: none;
  }

  .mobile-nav .menu li{
    margin: 0;
    padding: 0;
    border: none;
    background:none;
  }

  .mobile-nav .menu li a {
    display: inline-block;
    padding: .75rem .5rem;
    background-color: var(--news-flash);
    border: 1px solid var(--news-flash);
    font-size: 1rem;
  }

  .mobile-nav .menu li a:hover {
    background-color: var(--blue-bulletin);
  }

  .mobile-nav .menu li:last-child {
    margin: 0;
  }

  .red-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 .5rem .75rem .5rem;
    gap: .20rem;
  }

  .red-container {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto 1fr auto;
  }

  .red-container hr {
    border: none;
    border-top: 1.5px solid var(--watchdog-white);
    width: 100%;
    margin: 0;
  }

  .red-container video {
    width: 100%;
    height: auto;
    align-self: end;
  }

  .article-container-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  gap: .5rem;
}
  form {
    max-width: 920px;
  }
  .form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
  }

  .form-container fieldset {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-container #submit {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  form div:last-of-type {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
  }

  input[type="submit"] {
    margin-bottom: .5rem;
  }
}

/*  large styles 920px */
@media screen and (min-width:920px) {
  header, main, footer {
  width: 100%;
  box-sizing: border-box;
  }

  .inner-content-wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    padding: 0 3rem;
  }

  .article-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    gap: .5rem;
  }
}

/* x-large styles 1024px */
@media screen and (min-width:1024px) {
  .inner-content-wrapper {
    max-width: 1024px;
  }
}

/* Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: light) {
  body {
    background: var(--watchdog-white);
    color: var(--truth-text);
  }

  h1, .red-container h3, .red-container p {
    color: var(--watchdog-white);
  }

  .article-container {
    background-color: var(--watchdog-white);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--truth-text);
    color: var(--watchdog-white);
  }

  body.dark-mode h2, body.dark-mode h3  {
  color: var(--watchdog-white);
}

  body.dark-mode p {
  color: var(--watchdog-white);
  }

  body.dark-mode .article-container {
  border: 2px solid var(--story-subtitle);
  background-color: var(--truth-text);
  }

  body.dark-mode .article-container hr {
  border: none;
  border-top: 1.5px solid var(--story-subtitle);
  margin: 0.25rem auto 0.5rem auto;
  }

}

@media (prefers-reduced-motion: reduce) {
  body {
    transition: none;
  }
}

/* ADD  Feature Query for :has() that checks if the #menu-toggle is checked */
/* I was going to write this code below but when i validate it, 
I get a parse error because the :has feature is so new when combined with the @supports feature query...I think. 
However, I took the :has psuedo selector from the feature query since that is what gave me the parse and I wanted my css to validate.

  @supports (selector(:has(*))) {
    nav:has(#menu-toggle:checked) .menu {
      display: block;
    }
  }
*/
  nav:has(#menu-toggle:checked) .menu {
    display: block;
  }